---
import { EMAIL, EMAIL_DISPLAY, GITHUB_URL, LINKEDIN_URL, TELEGRAM_URL, TELEGRAM_USER } from "../../constants/global";
import EmailIcon from "../icons/EmailIcon.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import TelegramIcon from "../icons/TelegramIcon.astro";
import LinkButton from "../LinkButton.astro";

interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props
---

<section class="max-w-6xl mx-auto py-30 md:py-35 px-4 md:px-0 fade-in-up" id="Contact" data-animate>
  <div class="text-center mb-6">
    <h2 class="text-3xl font-bold text-white">{title}</h2>
    <p class="text-white">{subtitle}</p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-2 lg:gap-4 max-w-6xl mx-auto px-4">
    <LinkButton href={LINKEDIN_URL} title="LinkedIn" target="_blank" customClass='scrbnll-button'>
        <LinkedInIcon slot="before" customClass='scrbnll-button'/>
            <diV class="flex flex-col">
                <span>LinkedIn</span>
                <p slot="after" class="text-sm">/in/samuu-crbnll</p>
            </diV>
        </LinkButton>
        <LinkButton href={`mailto:${EMAIL}`} title="Email" customClass='scrbnll-button'>
            <EmailIcon slot="before" />
            <diV class="flex flex-col">
                <span>Gmail</span>
                <p slot="after" class="text-sm text-wrap">{EMAIL_DISPLAY}</p>
            </diV>
        </LinkButton>
        <LinkButton href={GITHUB_URL} title="Github" target="_blank" customClass='scrbnll-button'>
            <GitHubIcon slot="before" />
            <diV class="flex flex-col">
                <span>Github</span>
                <p slot="after" class="text-sm">/SCrbnll</p>
            </diV>
        </LinkButton>
        <LinkButton href={TELEGRAM_URL} title="Telegram" target="_blank" customClass='scrbnll-button'>
            <TelegramIcon slot="before"/>
            <diV class="flex flex-col">
                <span>Telegram</span>
                <p slot="after" class="text-sm">{TELEGRAM_USER}</p>
            </diV>
        </LinkButton>
  </div>
</section>
