---
import TechIcons from './TechIcons.astro';

const { company, logo, href, period, description, responsibilities, technologies, align = 'left' } = Astro.props;
---

<div class={`relative md:w-1/2 px-4 py-2 ${align === 'right' ? 'md:ml-auto' : 'md:mr-auto'}`}>
  <div class="shadow-md rounded-lg p-6 border scrbnll-experience-card">
    <div class="flex items-center mb-2">
      <img src={logo} alt={company} class="w-30 object-contain mr-4 cursor-pointer" onclick={`window.open('${href}', '_blank');`} />
      <div>
        <h3 class="text-lg font-semibold">{company}</h3>
        <p class="text-sm">{period}</p>
      </div>
    </div>
    <p class=" mb-2">{description}</p>
    <ul class="list-disc list-inside text-sm mb-4">
      {responsibilities.map((point: string) => (
        <li>{point}</li>
      ))}
    </ul>
    <TechIcons techList={technologies} />
  </div>
</div>
