---
import { PROJECTS } from "../../constants/projects";
import { EXPERIENCES } from "../../constants/experiences";
import { TECHNOLOGIES } from "../../constants/technologies";
import Projects from "./Projects.astro";
import Experience from "./Experience.astro";
import Skills from "./Skills.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { layoutTranslations } from "../../i18n/components/layout";

interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, layoutTranslations);

const tabs = [
  { id: "projects", label: t.portfolioButtonProjects },
  { id: "experience", label: t.portfolioButtonExperience },
  { id: "skills", label: t.portfolioButtonSkills },
];

---

<section class="max-w-6xl mx-auto py-30 md:py-35 px-4 md:px-0" id="Portfolio">
  <div class="text-center mb-6">
    <h2 class="text-3xl font-bold">{title}</h2>
    <p>{subtitle}</p>
  </div>

  <div class="mx-auto mb-8 grid grid-cols-1 md:grid-cols-3 justify-center gap-4 max-w-md" id="portfolio-tabs">
    {tabs.map((tab) => (
      <button
        class="tab-btn px-4 py-2 rounded-full font-medium transition-colors bg-gray-200 text-black hover:bg-gray-300 text-center"
        data-tab={tab.id}
      >
        {tab.label}
      </button>
    ))}
  </div>

  <div id="tab-content">
    <div id="projects" class="tab-panel"><Projects projects={PROJECTS[lang]}/></div>
    <div id="experience" class="tab-panel hidden"><Experience experiences={EXPERIENCES[lang]}/></div>
    <div id="skills" class="tab-panel hidden"><Skills skills={TECHNOLOGIES}></div>
  </div>
</section>

<style>
  .hidden {
    display: none;
  }
</style>

<script is:inline>
  const buttons = document.querySelectorAll(".tab-btn");
  const panels = document.querySelectorAll(".tab-panel");

  function showTab(id) {
    panels.forEach((panel) => {
      panel.classList.toggle("hidden", panel.id !== id);
    });

    buttons.forEach((btn) => {
      const isActive = btn.dataset.tab === id;
      btn.classList.toggle("bg-black", isActive);
      btn.classList.toggle("text-white", isActive);
      btn.classList.toggle("bg-gray-200", !isActive);
      btn.classList.toggle("text-black", !isActive);
    });
  }

  showTab("projects");

  buttons.forEach((btn) => {
    btn.addEventListener("click", () => {
      const tabId = btn.dataset.tab;
      showTab(tabId);
    });
  });
</script>
