---
import GroupedButtons from "./GroupedButtons.astro";
import HomeIcon from "./../icons/HomeIcon.astro";
import PortfolioIcon from "./../icons/PortfolioIcon.astro";
import SendIcon from "./../icons/SendIcon.astro";
import MoonIcon from "./../icons/MoonIcon.astro";
import SunIcon from "./../icons/SunIcon.astro";
import LinkedInIcon from "./../icons/LinkedInIcon.astro";
import GitHubIcon from "./../icons/GitHubIcon.astro";
import LinkButton from "./../LinkButton.astro";
import { LINKEDIN_URL, GITHUB_URL } from "../../constants/global";

const themes = [
  { name: "Light", icon: SunIcon, value: "light" },
  { name: "Dark", icon: MoonIcon, value: "dark" },
];

const languages = [
  { code: "es", name: "Spanish", flag: "/flags/es.svg" },
  { code: "en", name: "English", flag: "/flags/en.svg" },
];

---

<aside
  id="sideMenu"
  class="fixed top-0 left-0 w-64 h-full shadow-lg transform -translate-x-full transition-transform duration-300 z-[60] flex flex-col"
>
  <div class="p-8 border-b justify-center items-center flex scrbnll-header">
    <h1 class="animate-pulse"><b>Samuel Carbonell Gonçalves</b></h1>
  </div>

  <nav class="flex-1 flex flex-col gap-4 p-4 text-sm">
    <LinkButton href="/#" title="Home" customClass="scrbnll-button">
      <HomeIcon slot="before" />
      Home
    </LinkButton>
    <LinkButton href="#Portfolio" title="Portfolio" customClass="scrbnll-button">
      <PortfolioIcon slot="before" />
      Portfolio
    </LinkButton>
    <LinkButton href="#Contact" title="Contact" customClass="scrbnll-button">
      <SendIcon slot="before" />
      Contact
    </LinkButton>
  </nav>

  <div class="p-4 flex flex-col gap-4 text-sm">
    <GroupedButtons title="Theme">
      {
        themes.map((theme) => (
          <button
            type="button"
            data-theme={theme.value}
            id="theme-toggle-btn-aside"
            class="px-2 py-1 rounded transition-colors flex items-center gap-2 text-xs scrbnll-button"
          >
            <theme.icon class="w-4 h-4" />
          </button>
        ))
      }
    </GroupedButtons>

    <GroupedButtons title="Language">
      {
        languages.map((lang) => (
          <button
            type="button"
            data-lang={lang.code}
            class="px-3 py-2 rounded transition-colors flex items-center gap-2 text-xs scrbnll-button"
          >
            <img src={lang.flag} alt={lang.name} class="w-4 h-4" />
          </button>
        ))
      }
    </GroupedButtons>
  </div>

  <div class="p-4 border-t flex gap-4 justify-center scrbnll-footer">
      <LinkButton href={LINKEDIN_URL} title="LinkedIn" target="_blank">
          <LinkedInIcon />
      </LinkButton>
    <LinkButton href={GITHUB_URL} title="GitHub" target="_blank">
        <GitHubIcon />
    </LinkButton>
  </div>
</aside>

<script type="module">
  /* ==== MENU ====*/
  const toggleBtn = document.getElementById("toggleMenu");
  const menu = document.getElementById("sideMenu");
  const overlay = document.getElementById("menuOverlay");
  const menuIcon = document.getElementById("menuIcon");
  const openMenu = () => {
    menu.classList.remove("-translate-x-full");
    overlay.classList.remove("hidden");
    menuIcon.classList.add("hidden");
  };
  const closeMenu = () => {
    menu.classList.add("-translate-x-full");
    overlay.classList.add("hidden");
    menuIcon.classList.remove("hidden");
  };
  toggleBtn.addEventListener("click", () => {
    const isOpen = !menu.classList.contains("-translate-x-full");
    isOpen ? closeMenu() : openMenu();
  });
  overlay.addEventListener("click", closeMenu);

  /* ==== THEME ====*/
  const themeButtons = document.querySelectorAll("#theme-toggle-btn-aside");
  function getSavedTheme() {
    return localStorage.getItem("theme") || "system";
  }
  function setThemeAttr(theme) {
    document.body.setAttribute("data-theme", theme);
    localStorage.setItem("theme", theme);
    themeButtons.forEach((btn) => {
      const btnTheme = btn.getAttribute("data-theme");
      btn.classList.toggle("ring-2", btnTheme === theme);
      btn.classList.toggle("ring-offset-2", btnTheme === theme);
      btn.classList.toggle("ring-white", btnTheme === theme);
    });
  }

  themeButtons.forEach((btn) => {
    btn.addEventListener("click", () => {
      const selectedTheme = btn.getAttribute("data-theme");
      setThemeAttr(selectedTheme);
    });
  });
  setThemeAttr(getSavedTheme());

  /* ==== LANGUAGES ==== */
  const langButtons = document.querySelectorAll("button[data-lang]");
  function getSavedLang() {
    return localStorage.getItem("lang") || "es";
  }
  function setLangAttr(lang) {
    localStorage.setItem("lang", lang);
    langButtons.forEach((btn) => {
      const btnLang = btn.getAttribute("data-lang");
      btn.classList.toggle("ring-2", btnLang === lang);
      btn.classList.toggle("ring-offset-2", btnLang === lang);
      btn.classList.toggle("ring-white", btnLang === lang);
    });
  }
  langButtons.forEach((btn) => {
    btn.addEventListener("click", () => {
      const selectedLang = btn.getAttribute("data-lang");
      setLangAttr(selectedLang);
    });
  });
  setLangAttr(getSavedLang());
</script>
